.title {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.rank {
    width: 20%;
}

.name {
    width: fit-content;
}

.title span{
    padding-right: 16px;
    justify-content: center;
}

.title div {
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.title mat-icon {
    padding: 5px
}

.separator {
    flex: 2 2 auto;
}

.panel-container {
    display: block;
}

.panel {
    margin: 16px;
}

.newline {
    display: block;
}

.detail {
    display: block;
}

.card {
    width: fit-content;
    border-style: solid;
    border-width: 0;
    background-color: aliceblue;
}